.admin_case_application-page {
    font-family: 'Spectral',serif; 
    color: black;
    background-color: white;
    padding: 20px;
}


.apply-section-container {
    width: 90%; 
    height: 100%; 
    background-color:  #f0f2f7;
    /* border: 3px #393E68 solid; */
    margin: 5%;
    margin-top: 2%;
    border-radius: 2%;
    padding: 5%;
    padding-top: 3%;
}

.section-small-header {
    color: #393E68;
    font-family: 'Spectral',serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* text-decoration-line: underline; */
    margin-top: 1.5%;
}

.section-divider {
    display: flex;
}

.divider-left {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.divider-right {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.inner-left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inner-right-part {
    flex: 1; 
    display: flex;
    flex-direction: column;
}



.date-section-column {
    display: flex;
    flex-direction: column;
}

.date-section-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.date-header {
    flex: 1;
    overflow: hidden;
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Spectral',serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-content-value {
    flex: 1;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Spectral',serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reject-button, .accept-button {
    font-family: 'Spectral',serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; 
}

.reject-button {
    background-color: #b8514e;
    color:white;
}

.reject-button:hover {
    background-color: #ba0600;
}

.accept-button {
    background-color: #74c681;
    color: white;
}

.accept-button:hover {
    background-color: #278036;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    font-family: 'Spectral',serif;
    font-size: 25px;
    font-weight: 400;
    background-color:  #f0f2f7;
    margin: auto;
    padding: 50px;
    padding-top: 20px;
    /* border: 3px #393E68 solid; */
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    margin-top: 20px;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.close {
    background: none;
    color: #393E68;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.lawyer-dropdown {
    font-family: 'Spectral',serif;
    font-size: 22px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border: 3px #393E68 solid;
    border-radius: 5px;
}

.ok-button {
    background-color: #393E68;
    color: white;
    padding: 10px 20px;
    border: 3px #393E68 solid;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Spectral',serif;
}

.ok-button:hover {
    background-color: #272b49;
}

.confirm-button {
    background-color: #b8514e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Spectral',serif;
}

.confirm-button:hover {
    background-color: #ba0600;
}

