.admin_view_specific_rejected_case-page {
    font-family: Average; 
    color: black;
    background-color: white;
    padding: 20px;
}

.page-header{
    font-size: 38px; 
    font-family: 'Spectral',serif;
    font-weight: 550; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
    padding-left: 65px;
}

.reject-section-container {
    width: 90%; 
    height: 100%; 
    background-color:  #f0f2f7;
    /* border: 3px #393E68 solid; */
    margin: 5%;
    margin-top: 2%;
    border-radius: 2%;
    padding: 5%;
    padding-top: 3%;
}

.section-divider {
    display: flex;
}

.divider-left {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.divider-right {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.inner-left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inner-right-part {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content-data-field {
    flex: 1;
    color:#5A5A5A;
    font-family: 'Spectral',serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 35px;
}


.date-section-column {
    display: flex;
    flex-direction: column;
}

.date-section-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.rejected-status-container {
    font-family: 'Spectral',serif;
    color: #D8000C; 
    /* background-color: #FFD2D2;  */
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px; 
    border: 3px solid #D8000C; 
    border-radius: 5px; 
    width: fit-content;
    margin-left: auto; 
    margin-right: auto; 
}
