body {
    background-color: white;
}

.client-page {
    font-family: 'Spectral',serif;
    color: black;
    background-color: white;
}

.header-section-1{
  position: relative;
  text-align: left;
  padding-left: 2%;
}

.header-title-1{
    width: 100%; 
    height: 100%; 
    font-size: 45px; 
    font-family: 'Spectral',serif;
    font-weight: bold; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
}

.section-container {
    width: 96%; 
    height: 100%; 
    background: #E6EAF4;
    background-color: #E6EAF4;
    border-radius: 40px; 
    border: 3px #393E68 solid;
    margin: 2%;
    padding: 2%;
}

.form-header {
    text-align: center; 
    color: #393E68; 
    font-size: 40px; 
    font-family: Average; 
    font-weight: 400; 
    word-wrap: break-word;
    margin: 1%;
    font-weight: bold;
}

.form-person-container {
    display: flex;
}

.form-person-container-left {
    flex: 3;
    display: flex;
}

.form-person-container-middle {
    flex: 0.1;
}

.form-person-container-right {
    flex: 2;
    display: flex;
}

.form-inner-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-inner-right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.label-field {
    flex: 1;
    color: #393E68;
    font-size: 25px;
    font-family: Barlow;
    font-weight: 700;
    word-wrap: break-word;
    align-items: center;
}

.input-field {
    flex: 1;
    width: 100%;  
    margin: 0.5%;
    background: white; 
    border-radius: 40px; 
    border: 1px #393E68 solid;
    font-size: 16px;
    color: #393E68;
    padding-left: 5%;
}

.blank {
    flex: 1;
    margin: 10px; /*manual*/
}

select {
    flex: 1;
    /* width: 100%; */
    padding: 10.5px; /*manual*/
    box-sizing: border-box;
    /* position: relative; */
    /* appearance: none; */
    border: 1px solid #ccc;
    cursor: pointer;
}

select::after {
    content: '\25BC'; /* Down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicking through the arrow */
}

textarea {
    width: 100%;  
    margin: 0.5%;
    background: white; 
    border-radius: 40px; 
    border: 1px #393E68 solid;
    font-size: 16px;
    color: #393E68;
    padding: 1.5%;
}

.button-section {
    display: flex;
    justify-content: flex-end;
}

.button {
    background: white; 
    border-radius: 40px; 
    border: 1px #393E68 solid;
    font-size: 25px;
    padding: 1%;
    width: 200px;
    margin-left: 1%;
}

.dropzoneStyles {
    display: flex;
    flex-direction: column;
    border: 3px dashed #393E68;
    border-radius: 40px;
    padding: 20px;
    justify-content: center;
    min-height: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
};
