.client-view_cases-page {
    font-family: 'Spectral',serif;
    color: black;
    background-color: white;
}

.client-header-section-2{
  position: relative;
  text-align: left;
  padding-left: 2%;
}

.client-header-title-2{
    font-size: 38px; 
    font-family: 'Spectral',serif;
    font-weight: 550; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
    padding-left: 48px;
}

.client-section-container {
    width: 90%; 
    height: 100%; 
    /* background: #f0f2f7; */
    border-radius: 2%;
    margin: 5%;
    margin-top: 2%;
    /* padding: 4%; */
}

.client-cases-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f7;;
    /* border-bottom: 3px #393E68 solid; */
    min-height: 50px;
    padding-left: 2%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(78, 77, 77, 0.2);
    font-family: 'Spectral',serif;
}

.client-cases-section-even {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    align-items: space-evenly;
    align-content: center;
    padding-left: 2%;
    box-shadow: 0 4px 4px rgba(78, 77, 77, 0.2);
    margin-bottom: 15px;
}

.client-cases-section-odd {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f2f7; */
    box-shadow: 0 4px 4px rgba(78, 77, 77, 0.2);
    min-height: 70px;
    align-items: space-evenly;
    align-content: center;
    padding-left: 2%;
    margin-bottom: 20px;
}

.client-cases-header {
    flex: 1.2;
    text-align: center;
    /* color: white; */
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.client-cases-header-small {
    flex: 0.5;
    text-align: center;
    /* color: white; */
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.client-cases-row-content-title {
    flex: 1.2;
    text-align: left;
    /* color: #393E68; */
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Spectral',serif;
}

.client-cases-row-content-title:hover{
    flex: 1.2;
    text-align: left;
    color: #393E68;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Spectral',serif;
}

.client-cases-row-content-small {
    flex: 0.5;
    text-align: center;
    /* color: #393E68; */
    font-size: 20px;
    font-family: 'Spectral',serif;
}

.client-no-data-found {
    text-align: center;
    padding: 20px;
    color: #777;  
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ddd; 
    border-radius: 4px;
    background-color: #f9f9f9;  
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}