.client-view_cases-page {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
}

.client-header-section-2{
  position: relative;
  text-align: left;
  padding-left: 2%;
}

.client-header-title-2{
    width: 100%; 
    height: 100%; 
    font-size: 45px; 
    font-family: Average; 
    font-weight: 400; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
}

.client-section-container {
    width: 96%; 
    height: 100%; 
    background-color: #E6EAF4;
    border: 3px #393E68 solid;
    margin: 2%;
}

.client-cases-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afb8d0;
    border-bottom: 3px #393E68 solid;
    min-height: 70px;
    padding-left: 2%;
}

.client-cases-section-even {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    align-items: space-evenly;
    align-content: center;
    padding-left: 2%;
}

.client-cases-section-odd {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7cfe4;
    min-height: 70px;
    align-items: space-evenly;
    align-content: center;
    padding-left: 2%;
}

.client-cases-header {
    flex: 1;
    text-align: center;
    color: #393E68;
    font-size: 20px;
    font-weight: bold;
}

.client-cases-header-small {
    flex: 0.5;
    text-align: center;
    color: #393E68;
    font-size: 20px;
    font-weight: bold;
}

.client-cases-row-content-title {
    flex: 1;
    text-align: left;
    color: #393E68;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.client-cases-row-content-small {
    flex: 0.5;
    text-align: center;
    color: #393E68;
    font-size: 20px;
}