.view_specific_case-page {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
}

.header-section-3{
    position: relative;
    text-align: left;
    padding-left: 2%;
}

.header-title-3{
    width: 100%; 
    height: 100%; 
    font-size: 45px; 
    font-family: Average; 
    font-weight: 400; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
}

.section-container {
    width: 96%; 
    height: 100%; 
    /* background: rgba(57.15, 61.80, 103.65, 0.20);  */
    background-color: #E6EAF4;
    border-radius: 40px; 
    border: 3px #393E68 solid;
    margin: 2%;
    padding: 2%;
}

.section-small-header {
    color: #000;
    font-family: Average;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 1.5%;
}

.section-divider {
    display: flex;
}

.divider-left {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.divider-right {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.inner-left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inner-right-part {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content-label-field {
    flex: 1;
    color: #393E68;
    font-size: 25px;
    font-family: Barlow;
    font-weight: 700;
    word-wrap: break-word;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.content-data-field {
    flex: 1;
    color: #393E68;
    font-family: Average;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-frame {
    height: 200px;
    border: 1px solid #000;
    background: #D9D9D9;
    padding: 2%;
    color: #393E68;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: Average;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: auto;
    white-space: pre-line;
}

.date-section-column {
    display: flex;
    flex-direction: column;
}

.date-section-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.date-header {
    flex: 1;
    overflow: hidden;
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Average;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-content-value {
    flex: 1;
    overflow: hidden;
    color: #393E68;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Average;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.client-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.client-reject-button, .client-accept-button {
    font-family: Average;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; 
}

.client-reject-button {
    background-color: #b8514e;
    color:white;
}

.client-reject-button:hover {
    background-color: #ba0600;
}

.client-accept-button {
    background-color: #74c681;
    color: white;
}

.client-accept-button:hover {
    background-color: #278036;
}

.client-rejected-status-container {
    font-family: Average, sans-serif;
    color: #D8000C; 
    background-color: #FFD2D2; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
    border: 3px solid #D8000C; 
    border-radius: 5px; 
    width: fit-content;
    margin-left: auto; 
    margin-right: auto; 
}

.client-modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-modal-content {
    font-family: Average;
    font-size: 25px;
    font-weight: 400;
    background-color: #E6EAF4;
    margin: auto;
    padding: 20px;
    border: 3px #393E68 solid;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.client-modal-header {
    display: flex;
    justify-content: flex-end;
}

.client-modal-body {
    margin-top: 20px;
}

.client-modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.client-close {
    background: none;
    color: #393E68;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.client-ok-button {
    background-color: #393E68;
    color: white;
    padding: 10px 20px;
    border: 3px #393E68 solid;
    cursor: pointer;
    border-radius: 5px;
}

.client-ok-button:hover {
    background-color: #272b49;
}

.client-confirm-button {
    background-color: #b8514e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.client-confirm-button:hover {
    background-color: #ba0600;
}