.law-firm-page {
  font-family: 'Spectral',serif;
  color: #333;
}
    
.header-section {
  position: relative;
  text-align: center;
  color: white;
  font-family:'Spectral',serif;
  padding-bottom: 30px;
}

.background-image {
  width: 100%;
  opacity: 0.8; 
}

.header-title {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em; 
  white-space: nowrap; 
  font-family: 'Spectral',serif;
}

.background-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-container {
  flex: 0 0 auto; 
  margin-right: 40px;
}

.image-container img {
  display: block; 
  width: 100%; 
  max-width: 350px; 
}

.text-container {
  flex: 1;
  text-align: left;
}

.text-container h1 {
  margin: 0;
  font-size: 2em; 
  color: #000; 
  font-family: 'Spectral',serif;
  font-weight: bold;
}

.text-container h2 {
  margin: 0;
  font-size: 1em; 
  color: #A33434; 
  font-family: 'Spectral',serif;
}

.text-container p {
  font-size: 20px; 
  text-align: justify;
  font-family: 'Spectral',serif;
}

.iconlaw{
  display: block;
}

.iconlaw img{
  width: 64px;
  height: 64px;
}

.lawtype{
  color: white;
  font-family: 'Spectral',serif;
}

.lawyerPage h2,
.services h2{
  margin-bottom: 30px;
  font-size: 2em; 
  text-align: center;
  font-family: 'Spectral',serif;
}

.service-items {
  display: flex;
}

.service-item {
  background-color: #393E68;
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 10px;
  flex-grow: 1;
  text-align: center;
}

.services{
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.lawtype{
  font-size: larger;
}

.lawyerPage {
  font-family: 'Spectral', serif;
  color: #333;
  padding: 20px;
  padding-bottom: 60px;
  text-align: center;
}

.lawyerContainer {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, minmax(250px, 300px)); */
  gap: 8px;
  justify-content: center; 
}

.lawyerProfile {
  background: #fff;
  text-align: center; /* Centering text content */
  padding: 20px;
}

.imageContainer {
  margin: auto; /* This will center the image container */
}

.lawyerImage {
  object-fit: cover;
  width: 250px;
  height: 300px;
  display: block;
  margin-bottom: 10px; /* Space between image and text */
}

.lawyerName {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 5px; /* Space between name and email */
}

.lawyerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Change direction to row */
  gap: 10px; /* Adds space between icon and text */
}

.emailIcon {
  color: #333;
  font-size: 20px; /* Adjust icon size as needed */
}

/* Add a class for the email text to align it with the icon */
.emailText {
  display: flex;
  align-items: center;
}


.footer {
  display: flex;
  justify-content: space-between;
  /* padding: 15px; */
  background-color: #333;
  color: white;
  font-family: 'Spectral',serif;
  font-size: 18px;
  padding-bottom: 5px;
}

.footer > div {
  flex:1;
  text-align: center;
}
