* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #EEEEEE;
  color: black;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 1rem; 
}

.site-title {
  font-size: 15px;
  display: flex;
  align-items: center; 
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0; 
  gap: 1rem;
  padding-left: 10px;
}

.nav li {
  border: 1px solid transparent; 
  font-family: 'Average', serif;
  font-size:medium;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.nav li:hover {
  border: 1px solid black;
}

.logo-image img {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.nav .profile-icon {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: auto; 
}

.nav .profile-icon img {
  border-radius: 50%; 
  width: 40px;
  height: 40px; 
  object-fit: cover;
}

.nav .profile-icon img:hover {
  opacity: 0.8;
}

