  /* Center the form on the page */
  .reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-form {
    background-color: #fff;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 0 2px 2px #c2bfbf;
    max-width: 400px;
    width: 100%;
    margin: auto;
  }
  
  .reset-form h2 {
    font-size: 35px;
    color: #393E68;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
  }
  
  .reset-form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #2a2929;
    border-radius: 4px;
  }
  
  .reset-form button {
    background-color: #393E68;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #393E68;
    width: 100%;
    cursor: pointer;
  }
  
  .reset-form button:hover {
    border-color: black;
    color: black;
    background-color: #fff;
  }
  
  .message {
    color: green; /* Color for success messages */
  }
  
  .error-message {
    color: red; /* Color for error messages */
  }
  

  .h2resettag{
    padding-top:15px;
    font-size:30px;
    color:  #393E68; /* Color of the font */
    font-weight: bold;
    align-items: center; /* This centers the children (text) horizontally in the flex container */
    justify-content: center; /* This centers the children (text) vertically in the flex container */
    text-align: center; /* This centers the text inside the children elements */
    margin: 0;
    padding-bottom: 25px;
    font-family: 'Spectral',serif;
  }
  
  