.signup-container {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 120vh; /* Ensure the body takes up the full viewport height */
  background-image: url('../images/signup.png'); /* Set your image path */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Optional: Fix the background image */
  z-index: -1; /* Ensure the background image is behind other content */
  }

.input-container {
  margin-bottom: 15px;
}

input {
  width: 100%; /* Account for padding */
  padding: 10px;
  padding-right: 50px;
  margin: 15px 0;
  border: 1px solid #2a2929;
  border-radius: 4px;
}

.links-container {
  margin-top: 20px;
  text-align: center;
}

.links-container a {
  text-decoration: none;
  color: #0056b3; /* A darker shade of blue to match the login button */
  display: block;
}

.signuppanel {
    width: 100%;
    padding-left: 21rem;
    padding-right: 21rem;
    padding-top: 8%;
}

.form{
  background-color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px  #c2bfbf;
}

.createbutton{
  background-color: #393E68;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 20px;
  cursor: pointer;  
  position: relative;
  border: 2px solid  #393E68;
  font-weight: bolder;
}

.createbutton:hover {
  border: 2px solid black;
  color: black;
  background-color: #fff;
}