.signup-container {
  margin: 0;
  padding: 0; 
  height: 120vh; 
  background-image: url('../images/signup.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  z-index: -1; 
  }

.input-container {
  margin-bottom: 15px;
}

input {
  width: 100%; 
  padding: 10px;
  padding-right: 50px;
  margin: 15px 0;
  border: 1px solid #2a2929;
  border-radius: 4px;
}

.links-container {
  margin-top: 20px;
  text-align: center;
}

.links-container a {
  text-decoration: none;
  color: #0056b3;
  display: block;
}

.signuppanel {
    width: 100%;
    padding-left: 21rem;
    padding-right: 21rem;
    padding-top: 8%;
}

.form{
  background-color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px  #c2bfbf;
}

.createbutton{
  background-color: #393E68;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 20px;
  cursor: pointer;  
  position: relative;
  border: 2px solid  #393E68;
  font-weight: bolder;
}

.createbutton:hover {
  border: 2px solid black;
  color: black;
  background-color: #fff;
}