.background-colour {
    background-color: #f0f2f7;
    min-height: 100vh;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
  }

.input{
    font-family: 'Spectral',serif;
    font-size: 15px;
}
  
.user-info-container {
    background-color:white;
    padding: 20px;
    display:flex;
    flex-direction: row; 
    align-items: center;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    height: 400px;
}
  
.user-info-header {
    margin-top: 50px;
    color: black;
    font-size: 30px;
    margin-bottom: 50px; 
    width:100%;
    text-align: center;
    }
  
.user-info-details {
    text-align: start;
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px; 
}
  
.profileImg {
    border-radius: 50%;
    width: 180px; 
    height: 180px; 
    object-fit: cover; 
}

.profileContainer{
    margin-left:50px;
    align-items: center;
}

.editbtn {
    background-color:  #393E68;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid #393E68;
    font-family: 'Spectral',serif;
}

.editbtn:hover {
    border: 2px solid black;
    color: black;
    background-color: #fff;
  }
  

.left{
    flex:2 auto;
}

.right{
    flex: 1 auto;
}

.filesection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filesection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #007bff; 
  }
  
.edit-input {
    margin-right: 20px;
}

.edit-box{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tick {
    color: #4CAF50;
    margin-right: 10px; 
    margin-left: 10px;
    flex: 0 0 auto;
    cursor: pointer;
}

.cancel {
    color: #f44336;
    flex: 0 0 auto;
    cursor:pointer;
}

.email-container,
.contact-container,
.name-container{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-left: 80px; 
}

.email-container p ,
.contact-container p,
.name-container p{
    margin: 0;
}
  
.label{
    font-weight: bold;
    margin-right: 5px;
}

.file-input {
    width: 200px;
    margin:0;
  }


  .uploadtext{
    padding-left:18px;
    padding-top: 20px;
  }