body {
    background-color: white;
}

.client-page {
    font-family: 'Spectral',serif;
    color: black;
    background-color: white;
}

.header-section-1{
  position: relative;
  text-align: left;
  padding-left: 2%;
}

.header-title-1{
    font-size: 38px; 
    font-family: 'Spectral',serif;
    font-weight: 550; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
    padding-left: 48px;
}

.client-section-container-2 {
    width: 90%; 
    height: 100%; 
    background: #f0f2f7;
    border-radius: 2%;
    margin: 5%;
    margin-top: 2%;
    padding: 4%;
}

.form-person-container {
    display: flex;
}

.form-person-container-left {
    flex: 3;
    display: flex;
}

.form-person-container-middle {
    flex: 0.25;
}

.form-person-container-right {
    flex: 2;
    display: flex;
}

.form-inner-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-inner-right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.label-field {
    flex: 1;
    /* color: #393E68; */
    font-size: 22px;
    font-family: 'Spectral',serif;
    font-weight: 500;
    word-wrap: break-word;
    align-items: center;
    margin-top: 5%;
}

.labelfield {
    flex: 1;
    /* color: #393E68; */
    font-size: 22px;
    font-family: 'Spectral',serif;
    font-weight: 500;
    /* word-wrap: break-word; */
    align-items: center;
    margin-top: 25px;
}

.input-field {
    flex: 1;
    width: 100%;  
    margin: 1%;
    border: 1px #393E68 solid;
    font-size: 20px;
    color: 	#5A5A5A;
    padding: 1.5%;
    padding-left: 5%;
    font-family: 'Spectral',serif;
    margin-bottom: 20px;
}

.display-field {
    flex: 1;
    width: 100%;  
    margin: 1%;
    font-size: 20px;
    color: 	#5A5A5A;
    padding: 1.5%;
    padding-left: 5%;
    font-family: 'Spectral',serif;
    margin-top: 5px;
    margin-bottom: 28px;
}

.submit-date-display-field {
    flex: 1;
    width: 100%;  
    margin: 1%;
    font-size: 20px;
    color: 	#5A5A5A;
    padding: 1.5%;
    padding-left: 5%;
    font-family: 'Spectral',serif;
    margin-top: 20px;
    margin-bottom: 25px;
}

.blank {
    flex: 1;
    margin: 10px; /*manual*/
}

select {
    flex: 1;
    /* width: 100%; */
    padding: 6px; /*manual*/
    box-sizing: border-box;
    /* position: relative; */
    /* appearance: none; */
    border: 1px solid #ccc;
    cursor: pointer;
}

select::after {
    content: '\25BC'; /* Down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicking through the arrow */
}

textarea {
    width: 100%;  
    margin: 0.5%;
    background: white; 
    /* background: #e8ebef;  */
    border: 1px #393E68 solid;
    font-size: 16px;
    /* color: #393E68; */
    padding: 1.5%;
}

.button-section {
    display: flex;
    justify-content: flex-end;
}

.button {
    border-radius: 15px; 
    border: 1px #393E68 solid;
    background-color: #393E68 ;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
    color: white;
    font-family: 'Spectral',serif;
}

.button:hover {
    border: 2px solid black;
    color: black;
    background-color: #fff;
  }

.dropzoneStyles {
    display: flex;
    flex-direction: column;
    border: 2px dashed #393E68;
    padding: 20px;
    justify-content: center;
    min-height: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background: white;
};

