.view_specific_case-page {
    font-family: 'Spectral',serif;
    color: black;
    background-color: white;
}

.header-section-3{
    position: relative;
    text-align: left;
    padding-left: 2%;
}

.header-title-3{
    font-size: 38px; 
    font-family: 'Spectral',serif;
    font-weight: 550; 
    word-wrap: break-word;
    color: black;
    margin-top: 30px;
    padding-left: 48px;
}

.section-container {
    width: 90%; 
    height: 100%; 
    background-color:  #f0f2f7;
    /* border: 3px #393E68 solid; */
    margin: 5%;
    margin-top: 2%;
    border-radius: 2%;
    padding: 5%;
    padding-top: 3%;
}


.section-small-header {
    color: #393E68;
    font-family: 'Spectral',serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* text-decoration-line: underline; */
    margin-top: 1.5%;
}

.header-content {
    display: flex;
    align-items: center;
}

.section-divider {
    display: flex;
}

.divider-left {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.divider-right {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.inner-left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inner-right-part {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content-label-field {
    flex: 1;
    /* color: #393E68; */
    font-size: 22px;
    font-family: 'Spectral',serif;
    font-weight: 500;
    word-wrap: break-word;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.content-data-field {
    flex: 1;
    color:#5A5A5A;
    font-family: 'Spectral',serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 35px;
}

.content-frame {
    height: 200px;
    border: 1px solid #000;
    background: white;
    padding: 2%;
    color: #5A5A5A;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: Average;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: auto;
    white-space: pre-line;
}

.date-section-column {
    display: flex;
    flex-direction: column;
}

.date-section-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.date-header {
    flex: 1;
    overflow: hidden;
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Spectral',serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-content-value {
    flex: 1;
    overflow: hidden;
    /* color: #393E68; */
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Spectral',serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Add this to your component's stylesheet or use a global stylesheet */
button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #393E68;/* Adjust the color as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Spectral',serif;
}

button:hover {
    background-color: #eeeef2;
    color: #393E68;
}
/* 
.update-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* .update-button:hover {
    background-color: #D7D8E1;
    color: #393E68;
} */

.fa-icon {
    margin-right: 8px;
    width: 16px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
}

.button-row {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.move-right {
    margin-left: auto;
}

.lawyer-meetings-row-content-title {
    flex: 1;
    text-align: center;
    color: #393E68;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    text-decoration: underline;
    font-family: 'Spectral',serif;
}

.lawyer-meetings-row-content-small {
    flex: 1;
    text-align: center;
    color: #393E68;
    font-size: 20px;
    margin: 5px;
    font-family: 'Spectral',serif;
}

.lawyer-document-row-content-small {
    flex: 1;
    text-align: left;
    color: #393E68;
    font-size: 20px;
    margin: 5px;
    font-family: 'Spectral',serif;
}
